{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if page %}
    {{page.page_name}}
        {% else %}
        Universal Human Values and Professional Ethics
        {% endif %}
    </title>
    <link rel="icon" href="{%static 'image/logo.png' %}" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{%static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>
    .message {
    position: absolute;
    z-index: 99999;
    top: -50%;
    left: 25%;
    right: 25%;
        padding: 20px 20px 20px 20px;
    background: #fde073;
    text-align: center;
	animation-name: fadeout;
	animation-duration: 2s;
    overflow: hidden;
	opacity:0;
	box-shadow: 0 0 5px black;

}
    @keyframes fadeout {
	0%{opacity:0;top:50%}
    20%{opacity:1;}
	80%{opacity:1;top:50%;}
	100%{opacity:0;
        top:-50%;
    }

}


</style>
<script>
    function responsiveImage() {
        $('.center_content img').each(function () {
            var width = $(this).css("width");
            var height = $(this).css("height");
            $(this).removeAttr("style");
            $(this).attr("width", width);
            $(this).attr("height", height);
            $(this).addClass("img-responsive");
            $(this).css("display","inline-block")
        });
    }

    function responsiveContent() {
        responsiveImage();
    }
</script>

</head>
<body onload="responsiveContent()">
{% if messages %}
{% for message in messages %}
<p class="message">{{message}}</p>
{% endfor %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>

