<div class="center_content table-responsive">
    {% if page %}
    {{page.content|safe}}
    {% else %}
    <p> No content.</p>
    {% endif %}
</div>
<script>
    function responsiveImage() {
        $('.center_content img').each(function () {
            var width = $(this).css("width");
            var height = $(this).css("height");
            $(this).removeAttr("style");
            $(this).attr("width", width);
            $(this).attr("height", height);
            $(this).addClass("img-responsive");
            $(this).css("display","inline-block")
        });
    }

    function responsiveContent() {
        responsiveImage();
    }
</script>