{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'header.html' %}
    <!-- team section -->

    <div class="team_member_section">
        <div class="container">
            <div class="team_member">
                <div class="text-center heading" data-aos="flip-up">Developers</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " data-aos="zoom-in">
                    <div class="view view-third">
                        <img src="{%static 'image/ap.jpeg' %}" alt="Apoorva" class="img-responsive"/>
                        <div class="mask">
                            <h4>Apoorva Pandey</h4>
                            <ul class="social-icons1">
                                <li><a href="mailto:apoorvapandey365@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/apoorva-pandey-bb6603130/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="http://github.com/apoorvaeternity" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            </ul>
                            <p class="info">Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 team-agile" data-aos="zoom-in">
                    <div class="view view-third">
                        <img src="{%static 'image/kanika.png' %}" alt="Kanika Singhal" class="img-responsive"/>
                        <div class="mask">
                            <h4>Kanika Singhal</h4>
                            <ul class="social-icons1">
                                {# <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li> #}
                                <li><a href="https://www.linkedin.com/in/kanika-singhal-867a28140/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                {# <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> #}
                            </ul>
                            <p class="info">Designer</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% include 'footer.html' %}
{% endblock %}
