{% load staticfiles %}
{% load static %}

<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<div class="image-slider">
    <ul class="rslides" id="slider1">
        {% get_media_prefix as media_link %}
        {% for image in slider_image %}
        <li><img src="{{media_link}}{{image.image}}" alt=""></li>
        {% endfor %}
    </ul>
</div>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {

        // Slideshow 1
        $("#slider1").responsiveSlides({
            maxwidth: 1600,
            speed: 600
        });
    });
</script>