<div class="container-fluid">
    <div class="main_table">
        <div class="heading">
            <p> Admin Index</p>
        </div>
        <div class="table-responsive">
            <table class="table" style="overflow-x:auto;">
                <thead>
                <tr>
                    <th>Booked By</th>
                    <th>Date</th>

                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>Mary</td>
                    <td><a>Moe</a></td>

                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>