{% load static %}
<div class="container-fluid">
    <div class="main_table">
        <div class="heading">
            <h2> {{table_name}}</h2>
        </div>
        <div class="table-responsive">
            <table class="table" style="overflow-x:auto;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody>
                {% get_media_prefix as media_link %}
                {% for object in object_list %}
                <tr>
                    <td>{{object.name}}</td>
                    {% if object.url %}
                     <td><a href="{{object.url}}">View</a></td>
                    {% else %}
                    <td><a href="{{media_link}}{{object.file}}">Download</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>