html{
  scroll-behavior: smooth;
}
body{
  background-color: #212121;
  margin:0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: #fff;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
/* side-nav */
.vertical-nav-row{
  width: 100vw;
  z-index: 1000;
}
.vertical-nav{
  width: 120px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 120px;
}

/* side-nav */
nav{
  position: fixed;
  z-index: 100;
  opacity: .99;
  background: #000;
  /* box-shadow: 0px 5px 8px -8px #000; */
}
.nav-link span{
  color: #fff !important;
  letter-spacing: 2px;
}
.navbar-nav li{
  margin-right: 40px;
}
.home{
   color: #fff !important;
}
.nav-item span{
  color: #fff;
}
.nav-options ul{
  float: right;
}

.resource-page{
  height: 100vh;
  background-color: #212121;
  color: #fff;
}
#navbarTogglerDemo03{
  float: right;
}
/*director-message*/
.director-message{
  background-color: #fff;
  text-align: justify;
  text-justify: inter-word;
  padding: 70px;
  padding-bottom: 70px;
  font-size: 12pt;
  line-height: 29pt;

}
.director-img{
  margin-top: 70px;
}
.director-message-col{
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
}
.title h3{
  margin: 0px 0px 30px 0px;
  font-weight: bolder;
  z-index: 2;
  position: absolute;
}
.tittle-box{
  width: 140px;
  height: 40px;
  background-color: #03a9f4;
  position: absolute;
  margin: 0px 0px 0px 120px;
  z-index: 1;
}
.director-message-col p{
  margin-top: 50px;
}
/*director-message*/
/* footer */
.footer{
  width: 100vw;
  text-align: center;
  padding: 20px;
}
/* footer */
@media (max-width:480px){

  .nav-link span{
    font-weight: none;
    text-shadow: none;
    letter-spacing: none;
  }
  .vertical-nav{
    visibility: hidden;
  }
  nav{
    background: #03a9f4;
  }
  .nav-options ul{
    float: left;
  }
  .home{
    float: left;
  }
  .navbar-toggler{
    float: right;
  }
  .nav-options ul{
    padding: 10px;
  }
  .nav-options ul li a{
    text-align: center;
  }
  .director-message{
    padding: 10px;
    font-size: 10pt;
    line-height: 20pt;
  }

}
