html{
  scroll-behavior: smooth;
}

body{
  background-color: #212121;
  margin:0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
.container-fluid{
  background-color: #fff;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbar{
  position: sticky !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* side-nav */
.vertical-nav-row{
  width: 10vw;
  margin-left: 90vw;
  z-index: 1000;
}
.vertical-nav{
  width: 120px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 120px;
}
/* side-nav */
nav{
  position: fixed;
  z-index: 100;
  opacity: .99;
  background: #000;
  /* box-shadow: 0px 5px 8px -8px #000; */
}
.nav-link span{
  color: #fff !important;
  letter-spacing: 2px;
}
.navbar-nav li{
  margin-right: 40px;
}
.home{
   color: #fff !important;
}
.nav-item span{
  color: #fff;
}
.nav-options ul{
  float: right;
}
.header{
  z-index: 50;
  height: 100vh;
  font-weight: 600;
}
.main-title{
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  padding:15px 30px 15px 60px;
  text-shadow: 2px 2px 3px #000;
  background: rgba(0, 0, 0, .6);
  border-radius: 10px;
  animation-name: bg;
  animation-duration: 5s;
}

@keyframes bg{
  0%{
    background: none;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    padding:20px 50px 20px 50px;
  }
  90%{
    background: none;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    padding:20px 50px 20px 50px;
  }
  100%{
    background: rgba(0, 0, 0, .6); 
  }
}
.landing-image{
  animation-name: blur-image;
  animation-duration: 5s;
}

@media (max-width:480px){
.landing-image{
max-height:35vh !important;
  animation-name: blur-image;
  animation-duration: 5s;
}
}

@media (max-width:480px){
.fadebox{
  margin:00rem 0rem 20rem 2rem;

  animation:none !important;

}
}


@keyframes blur-image{
  0%{
    filter: blur(5px);
  }
  90%{
    filter: blur(5px);
  }
  100%{
    filter: none;
  }
}
.main-title u{
  color:#ffc107;
  margin-right: 40px;
}
.main-title-h3 {
  padding-left: 50px;
  text-shadow: 1px 1px 3px #000;
}
.header h3{
  color: #ffc107;
  font-size: 18px !important;
}
/*form*/
.contact-email-box{
  background-color: #fff;
  border-top-right-radius: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.email-contact-us {
  width: 200px;
}
.contact-email-box .row{
  margin: 40px 0px 0px 0px;
}
.contact-email-box .c-footer{
  background-color: #03a9f4;
  color: #fff;
  padding: 10px;
}
.contact-email-box .c-footer .submit-form{
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.contact-email-box input{
  border-radius: none !important;
  border: none !important;
  border-bottom: solid 1px #212121 !important;
}
.contact-email-box input:hover{
  border-bottom: solid 1px #03a9f4 !important;
  transition: .3s;
}
/*form*/
/* landing-page */
.landing-page{
  height: 100vh;
  margin:0px !important;
}
/* landing-page */
/* video-section */
.video-section{
  padding: 20px;
}
.faculty-video, .student-video{
  padding: 20px;
}
.faculty-feedback,.student-feedback{
  padding: 10px;
  background-color: rgba(3, 169, 244,.99);
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}
/* video-section */
/* about-section */
.about-page{
  background-color: #fff;
  color: #fff;
}
.about-us{
  color: #000;
  position: absolute;
  z-index: 2;
  margin-left: 50px;
  margin-top: 50px;
}


.box{
  width: 60px;
  height: 50px;
  background-color: rgba(3, 169, 244,1);
  position: absolute;
  z-index: 0;
  margin-left: 190px;
  margin-top: 50px;
}
.about-text{
  padding-top:150px;
  text-align: justify;
  text-justify: inter-word;
  color: #000;
  line-height: 28px;
}

.workshops p ,.student-members p , .teacher-members p {
  color: #fff;
  background-color: #000;
  margin-top: 50px;
  padding: 10px;
  font-size: 16px;
  font-weight:lighter;
  letter-spacing: 2px;
}
.workshops h1 ,.student-members h1 ,.teacher-members h1 {
  background-color: rgba(3, 169, 244,.99);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 50px 0px;
  padding: 60px;
  text-shadow: 1px 1px 5px #000;
  font-family: 'Poiret One', sans-serif ;
  font-size: 56px !important;
}
.workshops h1 {
  /* background-image: url("{% static 'image/bg-4.jpg' %}"); */
}
.student-members h1{
  /* background-image: url("{% static 'image/bg-2.jpg' %}"); */
}
.teacher-members h1{
  /* background-image: url("{% static 'image/bg-3.jpg' %}"); */
}
/* about-section */

#navbarTogglerDemo03{
  float: right;
}
/* contact-us */
.resource-page{
  height: 100vh;
  background-color: #fff;
  color: #000;
}
@media(max-width:480px){
.resource-page{
    background-image: linear-gradient(to bottom , white,#27617b);
    background-repeat: repeat-y;
    height: 150vh;
}
}

#glimpse{
  margin-left: 50px;
}
@media (max-width: 480px){
#glimpse{
margin-left:20px;
font-size:30px;
}
}

@media (max-width: 480px){
.about-us{

margin-left:20px;
font-size:30px;
}
.box{

margin-left: 7.8rem;
font-size: 30px;
width: 47px;
height: 37px;
}
}
@media (max-width: 480px){
.contact-us{
    margin-left: 10px !important;
    font-size: 34px;
}
}

.contact-us{
  color: #000;
  position: absolute;
  z-index: 2;
  margin-left: 50px;
  margin-top: 50px;
}
.contact-box{
  width: 60px;
  height: 50px;
  background-color: rgba(3, 169, 244,1);
  position: absolute;
  z-index: 0;
  margin-left: 225px;
  margin-top: 50px;
}
.contact-us-img{
 margin: 100px 0px 20px 0px ;
}
/* /contact-us */
/* footer */
.footer{
  width: 100vw;
  height:8%;
  text-align: center;
  padding-top:0px;
 position: absolute !important;
}
.footer_box{
width:100%;
}
@media (max-width: 480px) {
 .footer{
 padding:0rem 0rem 0rem 0rem;
 height:4%;
}
}
@media (max-width: 480px){
.contact_box{
padding-bottom:0rem;
}
}

@media (max-width:480px){
.contact-us-img {
    margin: -10px 0px 20px 0px;
}
}


/* footer */
/* common page */
  .img-column img{
    border-radius: 10px;
  }
  .center_content{
    margin-top: 150px;
    text-justify: inter-word;
    /* text-align: center; */
  }
  .center_content p{
    font-size: 12pt;
    line-height: 29pt;
  }
  .pdf-title{
    font-size: 18px;
    font-weight: 700;
    pad: 10px;
    text-decoration: underline;
  }

/* common_page */
@media (max-width:480px){

  .nav-link span{
    font-weight: none;
    text-shadow: none;
    letter-spacing: none;
  }
  .vertical-nav{
    visibility: collapse;
  }
  .landing-page{
    background-color: #ffffff;
    background-image: none;
    height: inherit;
  }
  nav{
    background: rgb(103, 58, 183);
  }
  .nav-options ul{
    float: left;
  }
  .home{
    float: left;
  }
  .navbar-toggler{
    float: right;
  }
  .nav-options ul{
    padding: 0px;
  }
  .nav-options ul li a{
    text-align: center;
  }
  .main-title{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    animation-name: none;
  }
  .main-title u{
    color: #ffc107;
    margin-right: 10px;
  }
  /* about */
  .slider-faculty{
    margin-top: 5px;
  }
  .faculty-video{
    font-size: 50px;
    text-align: center;

  }
  .about-title{
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-top: 20px;
  }
  .about-text{
    padding-top:90px;
    text-align: justify;
    text-justify: inter-word;
    color: #000;
    font-size: 14px;
    line-height: 20px;
  }
  .workshops h1 ,.student-members h1 ,.teacher-members h1 {
    margin: 0px 0px 20px 0px;
  }
    /* about */
    /* common page */
    .center_content p{
      font-size: 10pt;
      line-height: 18pt;
    }

    /* common page */
    /* form */
    .contact-us-img-col{
      margin-top: 80px;
    }
    /* form */




}

.aboutimg{
height:12rem;
margin:1.5rem 1rem;
border-radius:10px;
transition: box-shadow .3s;
}

.aboutimages{
padding-top: 150px;
}
.aboutimg:hover{
box-shadow: 0 0 11px rgba(33,33,33,.35);
}

@media (max-width: 992px){
.aboutimages{
  padding-top: 0px;
  }

  .aboutimg{
height:7rem;
margin:1.5rem 1rem;

}
}
.event{
    background-color: #0fa8f18a;
    padding: 1rem;
    border: 1px gray dotted;
    color:black;
    font-weight:bold;
}

.eventname{
color:black;
}

.noti{

    padding: 1rem;

    color:black;
    font-weight:bold
}

.evn{
margin: 50px 0px 0px 50px;
}

.car{
height:32rem;
width: auto;
}

.carou{
padding:0rem 9rem 0rem 9rem !important;
}
@media (max-width:480px){
.carouselbox{
box-sizing:none;
}
}
@media (max-width:480px){

.aboutimages{
padding-top: 0px;
margin-right:0rem;

}

.car{
height:13rem;
width: auto;
}

.carou{
padding: 0rem 0rem !important;
}
}



#scroll {
    position:fixed;
    right:6px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index:1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#3498db;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
